/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: blue;
  padding: 20px;
}

main {
  background-color: grey;
}

footer {
  background-color: black;
  color: white;
}
